@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900;1,100;1,200;1,300;1,500;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/arcon');

                

@font-face {
    font-family: "AvenirBlack";
    src: url(Fonts/AvenirLBlack.otf);
}
@font-face {
    font-family: "AvenirBook";
    src: url(Fonts/AvenirLBook.otf);
}
@font-face {
    font-family: "AvenirRoman";
    src: url(Fonts//AvenirLRoman.otf);
}

:root{
    --abBlack: #040606;
    --darkgreen: #040606;
    --gray1: #83898a;
    --gold1: #f4c107;
    --gold2: #c65204;
    --AD:#ffffff;
    --ctaBNT: #1d2424;
    --gradient: linear-gradient(90deg, var(--gold1), var(--gold2));
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: var(--Book);
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    height: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 5%;
    background: var(--darkgreen);
    backdrop-filter: blur(100px);
    color: var(--darkgreen);
    position: fixed;
    opacity: 70%;
}



#navBar{
    display: none;
}

header img{
    max-width: 7%;
    height: auto;
}

header ul{
    list-style-type: none;
    display: flex;
}

header li{
    color: var(--AD);
    padding-left: 2rem;
    font-size: 1vw;
    font-weight: 500;
    font-family: "AvenirRoman";
}

header ul :hover{
    color: var(--gold2);
}

.Home{

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 5%;
    color: var(--AD);
    transition: background-image 1s ease;
}

.Home img{
    max-width: 35vw;
    height: auto;
}

.Home p{
    margin: 2rem 0;
    font-size: .85vw;
    font-weight: 400;
    padding-right: 55vw;
    font-family: 'Arcon', sans-serif;
    color: var(--gray1);
}

.homeCTA{
    display: flex;
    align-items: center;
}

.homeCTA h3{
    font-size: 1.1vw;
    font-weight: 400;
    font-family: 'Arcon', sans-serif;
}

.book{
    background: var(--ctaBNT);
    padding: 1vw 4vw;
    border-radius: 5rem;
    cursor: pointer;
}

.homeVideo{
    display: flex;
    align-items: center;
    margin-left: 6vw;
    cursor: pointer;
}

.homeVideo img{
    max-width: 1.1vw;
    height: auto;
    padding-right: 1vw;
}







@media only screen and (max-width: 600px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem 7%;
        background: var(--darkgreen);
        backdrop-filter: blur(100px);
        color: var(--darkgreen);
        position: fixed;
        opacity: 70%;
    }
    
    
    
    #navBar{
        display: inline;
        align-items: center;
        background: var(--ctaBNT);
        border: 0;
        margin: 0;
        padding: 0;
    }

    #navBar img{
        max-width: 5vw;
        height: auto;
    }
    
    header img{
        max-width: 12%;
        height: auto;
    }
    
    header ul{
        list-style-type: none;
        display: none;
    }
    
    header li{
        color: var(--AD);
        padding-left: 2rem;
        font-size: 1vw;
        font-weight: 500;
        font-family: "AvenirRoman";
    }
    
    header ul :hover{
        color: var(--gold2);
    }
    
    .Home{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0 5%;
        color: var(--AD);
        background: url(images/mbg1.png) no-repeat; 
        background-position: center;
        background-size: cover;
        transition: background-image 1s ease;
    }

    .homeCon{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 5vh;
    }
    
    .Home img{
        max-width: 65vw;
        height: auto;
    }
    
    .Home p{
        margin: 2rem 0;
        text-align: center;
        font-size: 2.5vw;
        font-weight: 400;
        padding-right: 0vw;
        padding: 0 2rem;
        font-family: 'Arcon', sans-serif;
        color: var(--gray1);
    }
    
    .homeCTA{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    .homeCTA h3{
        font-size: 3vw;
        font-weight: 400;
        font-family: 'Arcon', sans-serif;
    }
    
    .book{
        background: var(--ctaBNT);
        padding: 2vw 6vw;
        border-radius: 5rem;
        align-items: center;
        cursor: pointer;
    }
    
    .homeVideo{
        display: flex;
        align-items: center;
        margin-left: 6vw;
        cursor: pointer;
    }
    
    .homeVideo img{
        max-width: 3.4vw;
        height: auto;
        padding-right: 2.5vw;
    }
}