@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900;1,100;1,200;1,300;1,500;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/arcon');

                

@font-face {
    font-family: "AvenirBlack";
    src: url(Fonts/AvenirLBlack.otf);
}
@font-face {
    font-family: "AvenirBook";
    src: url(Fonts/AvenirLBook.otf);
}
@font-face {
    font-family: "AvenirRoman";
    src: url(Fonts/AvenirLRoman.otf);
}

@font-face {
    font-family: "AvenirLight";
    src: url(Fonts/AvenirLight.ttf);
}

@font-face {
    font-family: "AvenirHeavy";
    src: url(Fonts/Avenir\ Heavy.ttf);
}

@font-face {
    font-family: "ArconRegular";
    src: url(Fonts/ArconRegular.otf);
}

@font-face {
    font-family: "ArconRegularRounded";
    src: url(Fonts/ArconRoundedRegular.otf);
}

@font-face {
    font-family: "MiyakeRegular";
    src: url(Fonts/miyakeregular.otf);
}

:root{
    --abBlack: #040606;
    --abblackSub: #020202;
    --signature: #040c0d;
    --darkgreen: #040606;
    --BookBG: #000908;
    --bookInput: #c5d8d6;
    --gray1: #83898a;
    --gold1: #f4c107;
    --gold2: #c65204;
    --AD:#ffffff;
    --ctaBNT: #1d2424;
    --gray2: #0c1010;
    --gray3: #878b8b;
    --gray4: #555b5e;
    --bookForm: #132020;
    --gradient: linear-gradient(90deg, var(--gold1), var(--gold2));
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: var(--Book);
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    height: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 5%;
    background: var(--darkgreen);
    backdrop-filter: blur(100px);
    color: var(--darkgreen);
    position: fixed;
    opacity: 70%;
    z-index: 2;

}



#navBar{
    display: none;
}

.mobileNav{
    display: none;
}


header img{
    max-width: 7%;
    height: auto;
}

header ul{
    list-style-type: none;
    display: flex;
}

header li{
    color: var(--AD);
    padding-left: 2rem;
    font-size: 1vw;
    font-weight: 500;
    font-family: "AvenirRoman";
}

header ul :hover{
    color: var(--gold2);
}

.Home{
    background: url(images/bg1.png) no-repeat; 
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 5%;
    color: var(--AD);
    transition: background-image 1s ease;
}

.Home img{
    max-width: 35vw;
    height: auto;
}

.Home p{
    margin: 2rem 0;
    font-size: .85vw;
    font-weight: 400;
    padding-right: 55vw;
    font-family: 'Arcon', sans-serif;
    color: var(--gray1);
    transition: text 1s ease;
}

.homeCTA{
    display: flex;
    align-items: center;
}

.homeCTA h3{
    font-size: 1.1vw;
    font-weight: 400;
    font-family: 'Arcon', sans-serif;
}

.book{
    background: var(--ctaBNT);
    padding: 1vw 4vw;
    border-radius: 5rem;
    cursor: pointer;
}

.homeVideo{
    display: flex;
    align-items: center;
    margin-left: 6vw;
    cursor: pointer;
}

.homeVideo img{
    max-width: 1.1vw;
    height: auto;
    padding-right: 1vw;
}



.freezing{
    display: flex;
    align-items: center;
    height: 80vh;
    color: var(--darkgreen);
    background: #f4fdfc;
    padding: 10vh ;
}

.freezing button{
    border: 0;
    background: 0;
    cursor: pointer;
}

.freezing img{
    max-width: 2.5vw;
    height: auto;
    margin-right: 1vw;
}

.freezingImgOne{
    width: 50%;
    background: url(images/freezOne.png) no-repeat;
    background-size: cover;
    background-position: top;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: .2rem;
}


.freezingImgTwo{
    width: 50%;
    display: none;
    background: url(images/freezTwo.png) no-repeat;
    background-size: cover;
    background-position: top;
    height: inherit;
    align-items: center;
    justify-content: right;
    border-radius: .2rem;
}



.freezingText{
    width: 50%;
    padding: 0 4vw;
}

.freezingText h1{
    font-size: 12vw;
    font-weight: 500;
    font-family: "AvenirHeavy";
}

.freezingText  h3{
    font-size: 3vw;
    margin-top: -5vw;
    font-weight: 300;
    font-family: "ArconRegular";
}

.freezingText p{
    margin-top: 4vh;
    font-size: 1vw;
    font-weight: 400;
    font-family: "ArconRegular";
}



.About{
    display: none;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 5rem 5%;
    color: var(--gray3);
    border-radius: .4rem;
}

.aboutCon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--abBlack);
    border-radius: .4rem;
    height: 70vh;
}

.aboutCard{
    width: 30%;
    background: url(images/street.png) no-repeat; 
    background-position: center;
    background-size: cover;
    transition: background-image 1s ease;
    height: 70vh;
    border-radius: .4rem;
    padding: 0 4vw;
}

.aboutCardCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;
    padding-top: 46vh;
    width: 100%;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socials a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray2);
    margin: 0 .7vw;
    padding: .7vw;
    border-radius: 5rem;
    border: var(--gray4) solid .07rem;
    cursor: pointer;
}

.socials img{
    max-width: .7vw;
    height: auto;
}

.streetName {
    margin-top: .8rem;
}

.streetName h2{
    padding: .7vw 3vw;
    border-radius: .2rem;
    border: var(--gray4) solid .07rem;
    font-size: .8vw;
    background: var(--gray2);
    font-weight: 600;
    font-family: 'Arcon', sans-serif;
}

.aboutText{
    width: 70%;
    padding: 0vh 10vh 0 4vw;
}

.aboutText h2{
    font-size: 1vw;
    font-weight: 600;
    font-family: "AvenirRoman";
}

.aboutText h1{
    font-size: 3.5vw;
    font-weight: 400;
    font-family: 'Arcon', sans-serif;
    margin-top: 3vh;
    color: var(--AD);
}

.aboutText p{
    font-size: 1.3vw;
    font-weight: 400;
    font-family: 'Arcon', sans-serif;
    margin-top: 3vh;
}


.Book{
    display: none;
    align-items: top;
    justify-content: center;
    background: var(--BookBG);
    color: var(--gray3);
    padding: 19vh 6% 6% 6%;
}

.bookText{
    width: 50%;
}

.bookText h2{
    font-size: 1.3vw;
    font-weight: 400;
    font-family: "AvenirRoman";
    color: var(--gold2);
    margin-bottom: 1rem;
}

.bookText h1{
    font-size: 3.3vw;
    font-weight: 300;
    font-family: "AvenirLight";
    color: var(--AD);
    margin-bottom: 1rem;
    line-height: 9vh;
}

.bookText h1 span{
    font-size: 3.5vw;
    font-weight: 900;
    font-family: "AvenirHeavy";
    color: var(--AD);
}

.bookText p{
    font-size: 1.1vw;
    font-weight: 400;
    font-family: 'Arcon', sans-serif;
    margin-bottom: 1rem;
    padding-right: 13vw;
}

.bookAction{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.bookAction h3{
    font-size: 1.2vw;
    font-weight: 400;
    font-family: 'Arcon', sans-serif;
}

.bookAction a{
    margin-left: 5vw;
    background: var(--bookForm);
    padding: 2vh 2.5vw;
    font-size: 1.2vw;
    font-weight: 400;
    font-family: 'Arcon', sans-serif;
    border-radius: .3rem;
    color: var(--gold2);
}


.bookForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #f4fdfc;
    backface-visibility: hidden;
    border-radius: .3rem;
    padding: 2rem;
    height: inherit;
}

.bookForm form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: scroll;
}

.bookForm label{
    font-size: 1.2vw;
    font-weight: 400;
    font-family: "AvenirHeavy";
    color: var(--BookBG);
}

.bookForm  input{
    margin-bottom: 4vh;
    padding: 2vh ;
    border: 0;
    background: var(--bookInput);
    border-radius: .1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.bookForm  select{
    margin-bottom: 4vh;
    padding: 2vh ;
    border: 0;
    background: var(--bookInput);
    border-radius: .1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.bookForm  button{
    padding: .8rem 0;
    border: 0;
    background: var(--gradient);
    color: var(--abBlack);
    border-radius: .2rem;
    font-size: 1.2vw;
    font-weight: 600;
    margin-top: 2vh;
    cursor: pointer;
}


.Gallery{
    display: none;
    flex-direction: column;
    padding: 7% 5%;
}

.galleryTop h2{
    font-size: 1.3vw;
    font-weight: 400;
    font-family: "AvenirRoman";
    color: var(--gold2);
    margin-bottom: .4rem;
}

.galleryTop h1{
    font-size: 3.3vw;
    font-weight: 400;
    font-family: "ArconRegularRounded";
}

.galleryTop p{
    font-size: .9vw;
    font-weight: 400;
    font-family: "ArconRegularRounded";
    margin-top: .4rem;
}

.gallerySlideCon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    overflow: scroll;
}

.gallerySlideBanner{
    margin-right: .6vw;
}

.gallerySlideImg1, .gallerySlideImg2, .gallerySlideImg3, .gallerySlideImg4, .gallerySlideImg5 {
    height: 22rem;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: .2rem;
    width: 18rem;
}

.gallerySlideImg1{
    background: url(images/light.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.gallerySlideImg2{
    background: url(images/nature.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.gallerySlideImg3{
    background: url(images/architecture.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.gallerySlideImg4{
    background: url(images/civil.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.gallerySlideImg5{
    background: url(images/culture.png) no-repeat;
    background-position: center;
    background-size: cover;
}


.gallerySlideCon::-webkit-scrollbar{
    display: none;
}

.gallerySlideImg1  img{
    max-width: 6%;
    height: auto;
    margin-left: .4vw;
}

.gallerySlideImg2  img{
    max-width: 6%;
    height: auto;
    margin-left: .4vw;
}

.gallerySlideImg3  img{
    max-width: 6%;
    height: auto;
    margin-left: .4vw;
}

.gallerySlideImg4  img{
    max-width: 6%;
    height: auto;
    margin-left: .4vw;
}

.gallerySlideImg5  img{
    max-width: 6%;
    height: auto;
    margin-left: .4vw;
}

.gallerySlideCon button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: var(--AD);
    width: 35%;
    margin-bottom: 3vh;
    padding: 1.2vh 0;
    border-radius: 5rem;
    font-size: .5vw;
    font-weight: 400;
    font-family: "ArconRegularRounded";
}

.gallerySlideCon h3{
    font-size: 1vw;
    font-weight: 800;
    font-family: "AvenirHeavy";
    margin-top: 1rem;
}


.gallerySlideCon h4{
    font-size: .8vw;
    font-weight: 400;
    font-family: "ArconRegularRounded";
}



.whyChoose{
    display: flex;
    flex-direction: column;
    padding: 8vh 5% 0vh 5%;
    background: var(--darkgreen);
    color: var(--AD);
}

.whyChooseTop{
    margin-top: 2rem;
}

.whyChooseTop h1{
    font-size: 6vw;
    font-weight: 300;
    font-family: "AvenirLight";
}

.whyChooseTop h1 span{
    font-weight: 800;
    font-family: "AvenirBlack";
    text-transform: uppercase;
}

.whyChooseTop p{
    width: 50%;
    font-size: 1.2vw;
    font-family: "ArconRegular";
    font-weight: 400;
}

.whyChooseButtom{
    margin-top: 4rem;
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
}

.whyChooseButtomText{
    width: 50%;
}

.whyChooseButtomText h2{
    font-size: 1.3vw;
    margin-bottom: 5vw ;
    font-weight: 400;
    font-family: "ArconRegular";
    padding-left: 3rem;
}

.whyChooseButtomTextActive{
    font-size: 1.3vw;
    font-weight: 400;
    font-family: "ArconRegular";
    background: var(--gray4);
    width: 47%;
    padding: 1.3rem 0;
    border-radius: .2rem;
}


.whyChooseButtomVideo{
    width: 50%;
}

.whyChooseButtomVideo video{
    max-width: 100%;
    height: auto;
    border-radius: .2rem;
}






































@media only screen and (max-width: 600px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem 7%;
        background: var(--darkgreen);
        backdrop-filter: blur(100px);
        color: var(--darkgreen);
        position: fixed;
        opacity: 70%;
    }


    .mobileNav{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        background: url(images/navBg.png) no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        color: var(--AD);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        transition: background-image 1s ease;
        overflow: hidden;
    }
    
    .mobileNav ul{
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
        padding: 0;
    }
    
    .mobileNav li{
        list-style-type: none;
        margin: 2rem 0;
        text-align: center;
        font-size: 5vw;
        font-weight: 400;
    }
    
    .signature{
        background: var(--signature);
        margin: 10vh 1rem 0 1rem;
        padding: 2vh 5vw;
        text-align: center;
        border-radius: .2rem;
    }
    
    .signature h1{
        margin-top: 1.5rem;
        font-size: 4.5vw;
        font-weight: 700;
        font-family: "AvenirHeavy";
    }
    
    .signature p{
        margin: 1rem 0 2vh 0;
        font-size: 3vw;
        font-weight: 400;
        font-family: "ArconRegular";
    }
    
    .signature h3{
        margin-bottom: .5rem;
        text-align: right;
        font-size: 7vw;
        font-weight: 400;
        font-family: "MiyakeRegular";
    }
    
    
    
    
    #navBar{
        display: inline;
        align-items: center;
        background: var(--ctaBNT);
        border: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    #navBar img{
        max-width: 5vw;
        height: auto;
    }
    
    header img{
        max-width: 12%;
        height: auto;
    }
    
    header ul{
        list-style-type: none;
        display: none;
    }
    
    header li{
        color: var(--AD);
        padding-left: 2rem;
        font-size: 1vw;
        font-weight: 500;
        font-family: "AvenirRoman";
    }
    
    header ul :hover{
        color: var(--gold2);
    }
    
    .Home{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0 5%;
        color: var(--AD);
        background: url(images/mbg5.png) no-repeat; 
        background-position: center;
        background-size: cover;
        transition: background-image 1s ease;
    }

    .homeCon{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 5vh;
    }
    
    .Home img{
        max-width: 65vw;
        height: auto;
    }
    
    .Home p{
        margin: 2rem 0;
        text-align: center;
        font-size: 2.5vw;
        font-weight: 400;
        padding-right: 0vw;
        padding: 0 2rem;
        font-family: 'Arcon', sans-serif;
        color: var(--gray1);
    }
    
    .homeCTA{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    .homeCTA h3{
        font-size: 3vw;
        font-weight: 400;
        font-family: 'Arcon', sans-serif;
    }
    
    .book{
        background: var(--ctaBNT);
        padding: 2vw 6vw;
        border-radius: 5rem;
        align-items: center;
        cursor: pointer;
    }
    
    .homeVideo{
        display: flex;
        align-items: center;
        margin-left: 6vw;
        cursor: pointer;
    }
    
    .homeVideo img{
        max-width: 3.4vw;
        height: auto;
        padding-right: 2.5vw;
    }





    .freezing{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 95vh;
        color: var(--darkgreen);
        background: #f4fdfc;
        padding: 2vh 0 10vh 0;
    }
    
    .freezing button{
        border: 0;
        background: 0;
        cursor: pointer;
    }
    
    .freezing img{
        max-width: 5.5vw;
        height: auto;
        margin-right: 1vw;
    }
    
    .freezingImgOne{
        width: 90%;
        background: url(images/freezOne.png) no-repeat;
        background-size: cover;
        background-position: top;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: right;
        border-radius: .2rem;
    }
    
    
    .freezingImgTwo{
        width: 90%;
        display: none;
        background: url(images/freezTwo.png) no-repeat;
        background-size: cover;
        background-position: top;
        height: inherit;
        align-items: center;
        justify-content: right;
        border-radius: .2rem;
    }
    
    
    
    .freezingText{
        width: 90%;
        padding: 0 0vw;
    }
    
    .freezingText h1{
        font-size: 18vw;
        font-weight: 500;
        font-family: "AvenirHeavy";
    }
    
    .freezingText  h3{
        font-size: 6vw;
        margin-top: -6vw;
        font-weight: 300;
        font-family: "ArconRegular";
    }
    
    .freezingText p{
        margin: 2vh 0;
        font-size: 2.3vw;
        font-weight: 400;
        font-family: "ArconRegular";
    }
    
    


    .About{
        height: 100vh;
        padding: 5.5rem 5%;
        color: var(--gray3);
        border-radius: .4rem;
    }

    .aboutCon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--abblackSub);
        border-radius: .4rem;
        height: inherit;
    }

    .aboutCard{
        width: 30%;
        background: url(images/streetMobile.png) no-repeat; 
        background-position: center;
        background-size: cover;
        transition: background-image 1s ease;
        height: 70vh;
        border-radius: .4rem;
        padding: 0 4vw;
        width: 90%;
    }

    .aboutCardCon{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 0;
        padding-top: 45vh;
        
    }

    .socials{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .socials a{
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--gray2);
        margin: 0 1.7vw;
        padding: 2.8vw;
        border-radius: 5rem;
        border: var(--gray4) solid .07rem;
        cursor: pointer;
    }

    .socials img{
        max-width: 1.8vw;
        height: auto;
    }

    .streetName {
        margin-top: .8rem;
    }

    .streetName h2{
        padding: 2.3vw 10vw;
        border-radius: .2rem;
        border: var(--gray4) solid .07rem;
        background: var(--gray2);
        font-size: 2vw;
        font-weight: 600;
        font-family: 'Arcon', sans-serif;
    }

    .aboutText{
        width: 90%;
        padding: 0vh 0vh 5vh 3vw;
    }

    .aboutText h2{
        font-size: 3vw;
        font-weight: 600;
        font-family: "AvenirRoman";
    }

    .aboutText h1{
        font-size: 6vw;
        font-weight: 400;
        font-family: 'Arcon', sans-serif;
        margin-top: 3vh;
        color: var(--AD);
    }

    .aboutText p{
        font-size: 3vw;
        font-weight: 400;
        font-family: 'Arcon', sans-serif;
        margin-top: 3vh;
    }







    .Book{
        display: none;
        flex-direction: column;
        align-items: top;
        justify-content: center;
        background: var(--BookBG);
        color: var(--gray3);
        padding: 12vh 6% 6% 6%;
    }
    
    .bookText{
        width: 100%;
    }
    
    .bookText h2{
        font-size: 3vw;
        font-weight: 400;
        font-family: "AvenirRoman";
        color: var(--gold2);
        margin-bottom: .8rem;
    }
    
    .bookText h1{
        font-size: 5.3vw;
        font-weight: 300;
        font-family: "AvenirLight";
        color: var(--AD);
        margin-bottom: 1rem;
        line-height: 5vh;
    }
    
    .bookText h1 span{
        font-size: 7vw;
        font-weight: 900;
        font-family: "AvenirHeavy";
        color: var(--AD);
    }
    
    .bookText p{
        font-size: 2.5vw;
        font-weight: 400;
        font-family: 'Arcon', sans-serif;
        margin-bottom: 1rem;
        padding-right: 13vw;
    }
    
    .bookAction{
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }
    
    .bookAction h3{
        font-size: 3vw;
        font-weight: 400;
        font-family: 'Arcon', sans-serif;
    }
    
    .bookAction a{
        margin-left: 5vw;
        background: var(--bookForm);
        padding: 2vh 2.5vw;
        font-size: 3.2vw;
        font-weight: 400;
        font-family: 'Arcon', sans-serif;
        border-radius: .3rem;
        color: var(--gold2);
    }
    
    
    .bookForm{
        width: 87.5%;
        margin-top: 4vh;
        display: flex;
        flex-direction: column;
        justify-content: left;
        background: #f4fdfc;
        backface-visibility: hidden;
        border-radius: .3rem;
        padding: 2rem;
        height: inherit;
    }
    
    .bookForm form{
        display: flex;
        flex-direction: column;
        justify-content: left;
        overflow: scroll;
    }
    
    .bookForm label{
        font-size: 2.8vw;
        font-weight: 400;
        font-family: "AvenirHeavy";
        color: var(--BookBG);
    }
    
    .bookForm  input{
        margin-bottom: 2vh;
        padding: 2vh ;
        border: 0;
        background: var(--bookInput);
        border-radius: .1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    .bookForm  select{
        margin-bottom: 2vh;
        padding: 2vh ;
        border: 0;
        background: var(--bookInput);
        border-radius: .1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

   #weddingDate{
        width: 93.5%;
    }
    
    
    .bookForm  button{
        padding: .8rem 0;
        border: 0;
        background: var(--gradient);
        color: var(--abBlack);
        border-radius: .2rem;
        font-size: 2.9vw;
        font-weight: 600;
        margin-top: 2vh;
        cursor: pointer;
    }
    
    






    .Gallery{
        display: none;
        justify-content: center;
        flex-direction: column;
        padding: 0 5%;
        height: 100vh;
    }

    .galleryTop h2{
        font-size: 4vw;
        font-weight: 400;
        font-family: "AvenirRoman";
        color: var(--gold2);
        margin-bottom: .4rem;
    }

    .galleryTop h1{
        font-size: 8vw;
        font-weight: 400;
        font-family: "ArconRegularRounded";
    }

    .galleryTop p{
        font-size: 2.9vw;
        font-weight: 400;
        font-family: "ArconRegularRounded";
        margin-top: .4rem;
    }

    .gallerySlideCon{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2rem;
        overflow: scroll;
    }

    .gallerySlideBanner{
        margin-right: 1.5vw;
    }

    .gallerySlideImg1, .gallerySlideImg2, .gallerySlideImg3,   .gallerySlideImg4, .gallerySlideImg5 {
        height: 20rem;
        display: flex;
        align-items: end;
        justify-content: center;
        border-radius: .2rem;
        width: 16rem;
    }

    .gallerySlideImg1{
        background: url(images/light.png) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .gallerySlideImg2{
        background: url(images/nature.png) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .gallerySlideImg3{
        background: url(images/architecture.png) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .gallerySlideImg4{
        background: url(images/civil.png) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .gallerySlideImg5{
        background: url(images/culture.png) no-repeat;
        background-position: center;
        background-size: cover;
    }


    .gallerySlideCon::-webkit-scrollbar{
        display: none;
    }

    .gallerySlideImg1  img{
        max-width: 6%;
        height: auto;
        margin-left: .4vw;
    }

    .gallerySlideImg2  img{
        max-width: 6%;
        height: auto;
        margin-left: .4vw;
    }

    .gallerySlideImg3  img{
        max-width: 6%;
        height: auto;
        margin-left: .4vw;
    }

    .gallerySlideImg4  img{
        max-width: 6%;
        height: auto;
        margin-left: .4vw;
    }

    .gallerySlideImg5  img{
        max-width: 6%;
        height: auto;
        margin-left: .4vw;
    }

    .gallerySlideCon button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        background: var(--AD);
        width: 35%;
        margin-bottom: 3vh;
        padding: 1vh 0;
        border-radius: 5rem;
        font-size: 2vw;
        font-weight: 400;
        font-family: "ArconRegularRounded";
    }

    .gallerySlideCon h3{
        font-size: 3.3vw;
        font-weight: 800;
        font-family: "AvenirHeavy";
        margin-top: 1rem;
    }


    .gallerySlideCon h4{
        font-size: 2.2vw;
        font-weight: 400;
        font-family: "ArconRegularRounded";
    }



    .whyChoose{
        display: flex;
        flex-direction: column;
        padding: 2vh 5% 0vh 5%;
        background: var(--darkgreen);
        color: var(--AD);
    }

    .whyChooseTop{
        margin-top: 2rem;
    }

    .whyChooseTop h1{
        font-size: 10vw;
        font-weight: 300;
        font-family: "AvenirLight";
    }

    .whyChooseTop h1 span{
        font-size: 10vw;
        font-weight: 800;
        font-family: "AvenirBlack";
        text-transform: uppercase;
    }

    .whyChooseTop p{
        width: 95%;
        font-size: 2.4vw;
        font-family: "ArconRegular";
        font-weight: 400;
    }

    .whyChooseButtom{
        margin-top: 2rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: top;
        justify-content: center;
        width: 100%;
    }

    .whyChooseButtomText{
        width: 100%;
        margin-top: 2rem;
    }

    .whyChooseButtomText h2{
        font-size: 3.5vw;
        margin-bottom: 9vw ;
        font-weight: 400;
        font-family: "ArconRegular";
        padding-left: 3rem;
    }

    .whyChooseButtomTextActive{
        font-size: 1.3vw;
        font-weight: 400;
        font-family: "ArconRegular";
        background: var(--gray4);
        width: 86%;
        padding: 1.3rem 0;
        border-radius: .2rem;
    }


    .whyChooseButtomVideo{
        width: 100%;
    }

    .whyChooseButtomVideo video{
        max-width: 100%;
        height: auto;
        border-radius: .2rem;
    }

    
}